- content_for(:title) { 'Demos' }

- unless params[:q]
  %h1.tab-header Demos
- else
  %h1.tab-header= "Demos for #{params[:q]}"

.col-sm-3.col-md-3.searchbox.pull-right
  = render 'search'

%hr

.panel.panel-default
  - if @demos.empty?
    .panel-body No demos found...

  - else
    %ul.list-group
      - @demos.each do |demo|
        - demo_p = present(demo)
        %li.list-group-item
          = render 'demos/listing', demo: demo

          .collapse.container-fluid{ id: demo_p.token }
            = render 'demos/leaderboard', demo: demo

= bootstrap_paginate @demos
