- content_for(:title) { 'Admin' }

- if current_user.can?(:edit, :leagues)
  %h2.outside Leagues
  .card
    .card-body
      = link_to new_league_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-plus
        Create New League
    %ul.list-group
      - leagues.order(created_at: :desc).each do |league|
        = link_to league.name, league_path(league), class: 'list-group-item'

- if current_user.can?(:edit, :users)
  %h2.outside Community
  .card
    .card-body
      = link_to 'Name Changes', users_names_path

%h2.outside Admin
.card.outside
  .card-body 
  - if current_user.can?(:edit, :permissions)
    %li.list-group-item= link_to 'Permissions', permissions_path
  %li.list-group-item= link_to 'Statistics', admin_statistics_path


- if current_user.can?(:edit, :games)
  %h2.outside Meta Data
  .card
    .card-body
      %ul.list-group
        = link_to 'Games', meta_games_path, class: 'list-group-item'
        = link_to 'Formats', meta_formats_path, class: 'list-group-item'
        = link_to 'Maps', meta_maps_path, class: 'list-group-item'
