.card.card-default
  .card-heading Match Time
  - if user_can_suggest_times? && @match.confirmed_time.nil?
    .card-body
      - @booked_times.each do |time|
        - if user_can_accept_times?(time, @match) && (time.pending? || time.rejected?)
          .row{ style: 'padding-bottom: 10px;' }
            %span.align-middle
              = link_to user_path(time.user) do time.user.name end
              has suggested #{time.time.strftime("%A %d @ %I:%M%p")}

            .pull-right
              - if time.pending?
                .col-sm-5
                  = link_to accept_match_time_path(@match, time), method: :patch, class: 'btn btn-success' do 
                    Accept
                .col-sm-5.pull-right
                  = link_to reject_match_time_path(@match, time), method: :patch, class: 'btn btn-danger' do 
                    Reject
              - else
                Rejected

      %hr

      = bootstrap_form_tag url: match_suggest_time_path(@match), method: :post do |f|
        .row
          .col-sm-2
            - day_names = Date::DAYNAMES.each_with_index.map{ |d, i| [d, i] }
            - day_names.select!{ |d, i| !['Saturday', 'Sunday'].include? d }

            = f.select :day, day_names, label: 'Day'

          .col-sm-2
            = f.select :hour, ['5', '6', '7', '8', '9', '10'], label: 'Hour'
          .col-sm-3
            = f.select :minute, ['00', '15', '30', '45'], label: 'Minute', append: "PM"
        .row
          = f.submit 'Suggest time', class: 'btn btn-default pull-right'

  - elsif !@match.confirmed_time.nil?
    .card-body
      .row
        Match is scheduled to be played #{@match.confirmed_time.time.strftime("%A %d @ %I:%M%p")}

.card.card-default
  .card-heading Match Comms

  - comms.each do |comm|
    - if comm.exists?
      = render 'leagues/matches/comms/comm', match: match, comm: comm
    - elsif user_can_edit_league?
      = render 'leagues/matches/comms/deleted_comm', match: match, comm: comm

  - if user_can_comm?
    .container-fluid
      %hr
      = bootstrap_form_for comm, as: :comm, url: match_comms_path(match) do |f|
        = render 'leagues/matches/comms/form', f: f

        .row
          = f.submit 'Post', class: 'btn btn-default pull-right'
      %hr
