%li{ class: navbar_class(:home), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Home"}
  = link_to('Home', :pages_home)
    %i.fa.fa-home
    
%li{ class: navbar_class(:users), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Users"}
  = link_to('Users', :users)
    %i.fa.fa-users
    
%li{ class: navbar_class(:teams), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Teams"}
  = link_to('Teams', :teams)
    %i.fa.fa-bars
    
%li{ class: navbar_class(:forums), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Forums"}
  = link_to('Forums', :forums)
    %i.fa.fa-bars
  
%li{ class: navbar_class(:leagues), "data-placement" => "right", "data-toggle" => "tooltip", :title => "Leagues"}
  = link_to('Leagues', :leagues)
    %i.fa.fa-trophy
  
- if user_signed_in? && current_user.admin?
  %li{ class: navbar_class(:admin) }
    = link_to('Admin', :admin)
      %i.fa.fa-cogs